body {
  padding: 0;
  margin: 0;
  font-family: -apple-sys0, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm {
    max-width: 1220px !important;
  }
}
 

.app-container{
  .header-container{
    .navbar{
      .btn-login {
        height: 40px;
        border-radius: 10px;
        padding: 5px 17px;
        border: 1px solid #4a4545;
        margin-right: 15px;
    }
      .btn-signup {
      height: 40px;
      border-radius: 10px;
      background-color: #000;
      color: #fff;
      padding: 5px 10px;
      &:hover{
        opacity: 0.7;
      }
    }
      padding-top: 20px;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;
      .nav-link{
        &.active {
          color: #00bfff;
        }
      }
    }
  }
  .homepage-container{
    .homepage-content {
      padding: 100px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 50%;
      .title-heading{
        font-size: 40px;
        font-weight: 600;
      }
      .title-body{
        font-size: 20px;
        font-weight: 400;
      }
      .title-button{
        font-size: 20px;
        .btn-body{
          height: 50px;
          border-radius: 10px;
          background-color: #000;
          color: #fff;
          padding: 5px 10px;
          &:hover{
            opacity: 0.7;
          }
        }
      }
  }
  }
}

video{
  width: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
}